.hero-section{
    padding: 80px 0;
}
.hero-section-title h1{
    font-size: 55px;
    font-weight: 700;
}
.hero-section-title h3{
    color: #232323;
    font-size: 33px;
    padding-top: 5px;
    font-weight: 600;
}
.hero-section-title p{
    color: #4b4b4b;
    font-size: 16px;
    margin-top: 15px;
    font-weight: 500;
    text-align: justify;
}
.hero-section-image{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.hero-section-image img{
    width: 100%;
}
.hero-section-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.hero-section-image h3{
    position: absolute;
    bottom: 10px;
    left: 50px;
    right: 50px;
    text-align: center;
    color: #fff;
    font-size: 32px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hero-section {
        padding: 35px 0;
    }
    .hero-section-title h1{
        font-size: 28px;
    }
    .hero-section-title h3{
        font-size: 18px;
    }
    .hero-section-title p{
        font-size: 15px;
    }
    .hero-section-image{
        margin-top: 20px;
    }
    .hero-section-image h3{
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
        font-size: 18px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */